{% extends "base.html" %}

{% block title %}
<title>Display ORM</title>
{% endblock  %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Episode Number</th>
                <th>Title</th>
                <th>Opening Crawl</th>
                <th>Director</th>
                <th>Producer</th>
                <th>Release date</th>
            </tr>
        </thead>
        <tbody>
                {% for data in results %}
                    <tr>
                        <td>{{ data.episode_nb }}</td>
                        <td>{{ data.title }}</td>
                        <td>{{ data.opening_crawl }}</td>
                        <td>{{ data.director }}</td>
                        <td>{{ data.producer }}</td>
                        <td>{{ data.release_date }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock  %}