{% extends "base.html" %}
{% load static %}  {% block title %}
<title>Display SQL</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style_table.css' %}">
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Character Name</th>
                <th>Homeworld</th>
                <th>Climate</th>
            </tr>
        </thead>
        <tbody>
            {% for name in names %}
            <tr>
                <td>{{ name.0 }}</td>
                <td>{{ name.1 }}</td>
                <td>{{ name.2}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}