{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}Publish{% endblock %}

{% block content %}
<section class="card app-card border-0 shadow-sm">
    <div class="card-body">
        <h2 class="h4 mb-3">{% trans "You can publish an article here" %}</h2>
        <form method="post" class="article-form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-info text-white">{% trans "Publish" %}</button>
        </form>
    </div>
</section>
{% endblock  %}