{% extends "base.html" %}
{% load static %}  {% block title %}
<title>Display ORM</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style_table.css' %}">
{% endblock %}

{% block content %}
    <h1>Make your search</h1>
    {% if choices %}
        <form method="post">
            {% csrf_token %}
            {{ gender_form.as_p }}
            <br></br>
            {{ min_form.as_p }}
            <br></br>
            {{ max_form.as_p }}
            <br>
            {{ diam_form.as_p }}
            <input type="submit" value="search">
        </form>

        <table>
            <thead>
                <tr>
                    <th>Film Title</th>
                    <th>Character's Name</th>
                    <th>Gender</th>
                    <th>Name of Homeworld</th>
                    <th>Homeworld's diameter</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>

                    <td>{{ result.movies__title }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.gender }}</td>
                    {% if result.homeworld__name %}
                        <td>{{ result.homeworld__name }}</td>
                        <td>{{ result.homeworld__diameter }}</td>
                    {% else %}
                        <td style="color: gray; font-style: italic;">Unknown</td>
                        <td style="color: gray;">-</td>
                    {% endif %}  
                </tr>
                {% empty %}
                    {% if results is not None %}
                        <tr>
                            <td colspan="5">Nothing corresponding to your research</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}